.cogn-internal-footer {
    min-height: 43px;
}
.cogn-internal-footer .navbar-nav > li > a {
    font-size: 13px;
    font-family: 'Avenir-Light', sans-serif;
    text-transform: none;
    letter-spacing: normal;
    padding: 12px;
}
.cogn-internal-navbar-brand {
    padding: 12px;
    font-size: 13px;
    height: auto;
}