@font-face {
    font-family: 'Avenir-Light';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/AvenirLTStd-Light.woff') format('font-woff');
}
@font-face {
    font-family: 'Avenir-Book';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/AvenirLTStd-Book.woff') format('font-woff');
}
@font-face {
    font-family: 'Avenir-Medium';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/AvenirLTStd-Medium.woff') format('font-woff');
}
@font-face {
    font-family: 'Avenir-Heavy';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/AvenirLTStd-Heavy.woff') format('font-woff');
}
@font-face {
    font-family: 'Avenir-Black';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/AvenirLTStd-Black.woff') format('font-woff');
}