@font-face {
    font-family: 'Lato-Light';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Lato-Light.woff') format('font-woff');
}
@font-face {
    font-family: 'Lato-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Lato-Regular.woff') format('font-woff');
}
@font-face {
    font-family: 'Lato-Heavy';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Lato-Heavy.woff') format('font-woff');
}
@font-face {
    font-family: 'Lato-Semibold';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Lato-Semibold.woff') format('font-woff');
}